= form_for [@project, @page] do |f|
  - if @page.errors.any?
    .alert.alert-error
      %h2= "#{pluralize(@page.errors.count, "error")} prohibited this page from being saved:"
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name

  #page_editor(data-no-turbolink='1')
    %ul.inline
      %li
        = link_to 'Rectangle', '#', id: 'new_rectangle', class: 'btn'
      %li
        = link_to 'Text', '#', id: 'new_text', class: 'btn'
      %li
        = link_to 'Free Hand', '#', id: 'new_freehand', class: 'btn'
    #edit_area.well
    = link_to 'to_json', '#', id: 'save_page', class: 'btn'

  %span
    output JSON
  = f.text_area :objects

  .actions
    = f.submit 'Save', class: 'btn btn-primary'
