%h1 Listing pages

- if @pages.any?
  %table.table.table-striped
    %tr
      %th Name
      %th Objects
      %th
      %th
      %th

    - @pages.each do |page|
      %tr
        %td= page.name
        %td= page.objects
        %td= link_to 'Show', [@project, page]
        %td= link_to 'Edit', edit_project_page_path(@project, page)
        %td= link_to 'Destroy', [@project, page], method: :delete, data: { confirm: 'Are you sure?' }

  %br

= link_to 'New Page', new_project_page_path(@project), class: 'btn btn-primary'

= link_to 'Project List', projects_path, class: 'btn'
