= form_for @project do |project_form|
  - if @project.errors.any?
    .alert.alert-error
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .field
    = project_form.label :name
    = project_form.text_field :name
  .field
    = project_form.label :description
    = project_form.text_area :description

  = project_form.fields_for :project_members do |project_members_form|
    = project_members_form.hidden_field :user_id
    = project_members_form.hidden_field :owner

  .actions
    = project_form.submit 'Save', class: 'btn btn-primary'
