%h1 Listing projects

%table.table.table-striped
  - if @projects.any?
    %tr
      %th Name
      %th Description
      %th
      %th
      %th

  - @projects.each do |project|
    %tr
      %td= project.name
      %td= truncate project.description
      %td= link_to 'Show', project, class: 'btn'
      %td= link_to 'Edit', edit_project_path(project), class: 'btn'
      %td= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

%br

= link_to 'New Project', new_project_path, class: 'btn btn-primary'
